{% load static%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />

    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=5,user-scalable=yes"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Simon Mwangi Portfolio" />
    <title>Contact form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/contactform.min.css' %}">
<script charset="utf-8" type="text/javascript"   src="contactform.js"></script>
</head>


<body>



    <div class="btns">
        <ul>
            <li>
                <img id="hide" src="{% static './icons/icons8-about-512.png' %}" alt="">

            </li>
            <li>
                <img id="show" src="{% static './icons/icons8-envelope-96.png' %}" alt="">
        </ul>



    </div>

    <div id="showcontact" class="contact ">
        <div>
            <a href="" class="close">x</a>
        </div>
        <h2>Contact Me</h2>
        <!-- <div class="jumbotron"> -->
        <form class="" method="" action="">
            <p><label for="firstname"> Full Name</label>
                <input class="" type="text" name="" placeholder="Enter Full Name ..."></p>
            <!-- <label> lastname:</label>

			<input type="text" name=""> -->
            <p><label for="email"> Email</label>
                <input class="" type="text" name="" placeholder="Email"></p>

            <p><label for="message"> Message:</label><br>
                <!-- <input class="form-control" type="text" name=""> -->
                <textarea class="" placeholder="Please type your message here..."></textarea></p>

            <p><button class="btn btn-default" type="submit"> Submit</button></p>

        </form>
    </div>
    <!-- </div> -->

    <div id="showabout" class="About">
        <a href="" class="close">x</a>
        <h2>About Me</h2>
        {% for detail in abouT %}


        <div class="social-list">
            <div>
                <ul>
                    {%for link in social_links %}
                    <li><a rel="noreferrer" target="_blank" href="{{ link.github}}"><img
                                src="{% static './images/github/github-original.svg' %}" alt=""></a></li>
                    <li><a rel="noreferrer" target="_blank" href="{{ link.linkedLn}}"><img
                                src="{% static './images/Icons/linkedin-original.svg' %}" alt=""></a>
                    </li>
                    <li><a rel="noreferrer" target="_blank" href=""><img src="{% static './images/Icons/instagram-213-675870.svg' %}"
                                alt=""></a>
                    </li>
                    <li><a rel="noreferrer" target="_blank" href="{{ link.twitter }}"><img
                                src="{% static './images/Icons/twitter-236-675864.svg' %}" alt=""></a></li>
                    <li><a rel="noreferrer" target="_blank" href="{{ link.facebook }}"><img
                                src="{% static './images/Icons/facebook-original.svg' %}" alt=""></a></li>
                    {% endfor%}
                </ul>
            </div>

            <div class="downloadcv">

                <a id="cvDownlod" href="{{ detail.cV.url}}">Download Cv</a>

            </div><br>

        </div>
        <p>

            {{ detail.about }}
        </p>


    </div>

    {% endfor %}
    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>
        $('#show').click(function () {
            $('#showcontact').show();
            $('#showabout').hide();

        });
        $('#hide').click(function () {
            $('#showabout').show();
            $('#showcontact').hide();
        });
        $('#hideno').hover(function () {
            //$('#showno').show();
            $('#number').show();
            $('body').hover(function () {
                $('#number').hide();
            });
        });

    </script>

</body>

</html>