#middleLevel {
  top: -10px;
  position: relative;
  background: #252734;
  width: 100%;
}
#middleLevel .Projects {
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
}
#middleLevel .Projects h1 {
  display: flex;
  left: 50%;
  right: 50%;
  display: flex;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  top: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 10rem;
  font-family: "ArimaMadurai-Black";
  position: relative;
  height: 150px;
  color: #252734;
  text-shadow: rgba(4, 0, 27, 0.692) 1px 2px 5px;
}
#middleLevel .Projects p {
  letter-spacing: 2px;
  word-spacing: 3px;
  font-size: 1.3rem;
  font-family: "ArimaMadurai-Black";
  top: 40px;
  position: relative;
  display: none;
}
#middleLevel .cards {
  width: 100%;
  height: 100%;
  background: #252734;
  top: 30px;
  display: grid;
  position: relative;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 100px;
}
#middleLevel .cards .pcard {
  margin-left: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 300px;
  width: 400px;
  overflow: hidden;
}
#middleLevel .cards .pcard:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-color: #252734a8;
  opacity: 0.5;
  transform: translateY(100%);
  transition: all 0.25s;
  transition-delay: 0.25s;
}
#middleLevel .cards .pcard:hover:before {
  transform: translateY(0);
  transition-delay: 0s;
}
#middleLevel .cards .pcard:hover .caption {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.3s;
}
#middleLevel .cards .pcard img {
  height: 300px;
  width: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#middleLevel .cards .pcard .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.25s ease;
}
#middleLevel .cards .pcard .caption h3 {
  font-size: 1.8rem;
  position: relative;
  top: 0;
  color: #ebebec;
  font-family: "ArimaMadurai-Black";
}
#middleLevel .cards .pcard .caption a {
  height: 80px;
  width: 80px;
}
#middleLevel .cards .pcard .caption a img {
  height: 60px;
  width: 60px;
  background: #ebebec;
  border-radius: 50%;
  padding: 20px;
}

@media screen and (max-width: 780px) {
  #primary {
    width: 67%;
  }

  #secondary {
    width: 30%;
    margin-left: 3%;
  }

  html {
    scroll-behavior: smooth;
  }

  *,
  body {
    margin: 0;
    padding: 0;
    top: 0;
  }

  #middleLevel {
    position: relative;
  }
  #middleLevel .Projects {
    position: relative;
  }
  #middleLevel .Projects h1 {
    font-size: 5rem;
  }
  #middleLevel .cards {
    width: 100%;
    background: #252734;
    display: grid;
    position: relative;
    grid-gap: 15px;
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 100px;
  }
  #middleLevel .cards .pcard {
    width: 100%;
    height: 100%;
    background: #252734;
    margin-left: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 250px;
    width: 300px;
    overflow: hidden;
  }
}

/*# sourceMappingURL=middleLevel.css.map */
