.leftSide {
  position: relative;
  top: 0;
  margin: 0;
}
.leftSide .logo {
  position: relative;
  top: -60px;
  padding: 20px;
  left: 5%;
  color: #ffc25c;
  font-size: 3rem;
  font-family: "ArimaMadurai-Black";
  font-weight: 400;
}
.leftSide .name-intro {
  z-index: 1;
  position: absolute;
  left: 19%;
}
.leftSide .name-intro .name {
  position: relative;
  left: -50px;
}
.leftSide .name-intro .name h1 {
  display: block;
  position: relative;
  font-size: 4rem;
  color: #ebebec;
  font-weight: 500;
  font-weight: 600;
  font-family: "ArimaMadurai-Black";
  padding: 0;
  margin: 0;
  top: -100px;
  float: none;
}
.leftSide .name-intro .name h1 #two {
  margin-left: -20px;
  border-bottom: 2px solid #ffc25c;
  padding: 0px 0px;
}
.leftSide .name-intro .name h1 span {
  padding: 10px;
  margin: -10px;
  top: -30px;
  clear: both;
  float: left;
}
.leftSide .name-intro .social-list {
  top: -50px;
  position: relative;
  clear: both;
  float: none;
  margin-left: -130px;
}
.leftSide .name-intro .social-list ul {
  position: relative;
  display: inline;
  margin: 30px;
  top: -29px;
}
.leftSide .name-intro .social-list ul li {
  border-top-left-radius: 70%;
  border-radius: 50%;
  display: inline;
  list-style-type: none;
  padding: 0px 10px;
}
.leftSide .name-intro .social-list ul li a {
  text-decoration: none;
}
.leftSide .name-intro .social-list ul li a img {
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ebebec;
}
.leftSide .name-intro .image-me {
  position: absolute;
  top: -200px;
  left: 150px;
  background: transparent;
  background: none;
  transition: all 3s linear;
  transition-delay: 2s;
  border-radius: 50%;
}
.leftSide .name-intro .image-me img {
  z-index: -1;
  width: 320px;
  height: 320px;
  box-shadow: 0px 0px 0px 0px #323541, 0px 0px 0px 0px #323541, 0px 0px 0px 0px #444749, 0px 0px 0px 0px #444759, -7px -7px 20px 0px #323541, -4px -4px 5px 0px #323541, 7px 7px 20px 0px #444749, 4px 4px 5px 0px #444759;
  transition: all 3s linear;
  transform-origin: left;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.leftSide .name-intro .image-me img:hover {
  border-radius: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rightSide {
  position: relative;
  top: 0;
  padding: 0;
  margin: 0;
  left: 0;
}
.rightSide .menu {
  position: relative;
  right: 0;
  width: 100%;
  top: 0;
  left: 50%;
  right: 50%;
  display: flex;
  transform: translateX(-50%);
}
.rightSide .menu ol {
  position: relative;
}
.rightSide .menu ol li {
  position: relative;
  display: inline;
  list-style-type: none;
  width: 150px;
  padding: 20px;
}
.rightSide .menu ol li a {
  font-size: 1.5rem;
  font-family: "Atma-bold";
  text-decoration: none;
  color: #ebebec;
  transition: all 1s ease;
  font-weight: 500;
}
.rightSide .menu ol li a:hover {
  color: #54c5e9;
}
.rightSide .menu ol li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #54c5e9;
  transform: scaleX(0);
  /* border-radius: 50%; */
  /* z-index: -1; */
  transition: all 2s;
  transform-origin: left;
}
.rightSide .menu ol li::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  /* height: 100%; */
  background-color: #fefbfd;
  transform: scaleX(0);
  /* border-radius: 50%; */
  /* z-index: -1; */
  transition: all 2s;
  transform-origin: right;
}
.rightSide .menu ol li:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.rightSide .menu ol li:hover::after {
  /* transform-origin: left; */
  transform: scaleX(1);
}
.rightSide .intro h3 {
  font-size: 1.3rem;
  font-weight: 300;
  font-family: "Charm-Bold";
  color: #ebebec;
}
.rightSide .intro .title {
  position: relative;
  left: 0;
}
.rightSide .intro .title .top {
  position: relative;
  font-size: 2rem;
  font-family: "ArimaMadurai-Black";
  color: #ebebec;
  padding: 0;
  margin: 0;
  font-weight: 600;
  text-transform: capitalize;
}
.rightSide .intro .title .top span:nth-child(3) {
  position: relative;
  left: 10%;
  font-weight: 800;
  transition: all 2s ease-in;
}
.rightSide .intro .title .top span:nth-child(3)::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  transform-origin: right;
  transform: scaleX(0.25);
  background-color: green;
  transition: all 3s;
}
.rightSide .intro .title .top span:nth-child(3):hover::before {
  transform: scaleX(1);
}
.rightSide .intro .content1 {
  position: relative;
  width: 80%;
  height: 100%;
}
.rightSide .intro .content1 .description p {
  padding: 20px 20px 0px 20px;
  line-height: 30px;
  letter-spacing: 2px;
  word-spacing: 3px;
  font-size: 1.2rem;
  color: #ebebec;
}
.rightSide .intro .content1 a {
  bottom: 0;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 10px 20px;
  color: #ebebec;
  box-sizing: border-box;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.2rem;
  border-bottom: 2px #54c5e9 solid;
  border-top: 2px #54c5e9 solid;
  transition: all 2s ease-in;
  font-family: "Akronim";
}
.rightSide .intro .content1 a:hover {
  border: 2px #54c5e9 solid;
  background: #ebebec;
  color: #333333;
}

@media screen and (max-width: 780px) {
  #primary {
    width: 67%;
  }

  #secondary {
    width: 30%;
    margin-left: 3%;
  }
}
.Center {
  top: 0px;
  position: relative;
  background: #252734;
  width: 100%;
}
.Center .Projects {
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
}
.Center .Projects h1 {
  display: flex;
  left: 50%;
  right: 50%;
  display: flex;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  top: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 10rem;
  font-family: "ArimaMadurai-Black";
  position: relative;
  height: 150px;
  color: #252734;
  text-shadow: rgba(4, 0, 27, 0.692) 1px 2px 5px;
}
.Center .Projects p {
  letter-spacing: 2px;
  word-spacing: 3px;
  font-size: 1.3rem;
  font-family: "ArimaMadurai-Black";
  top: 40px;
  position: relative;
  display: none;
}
.Center .cards {
  width: 100%;
  height: 100%;
  background: #252734;
  top: 30px;
  display: grid;
  position: relative;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 100px;
}
.Center .cards .pcard {
  margin-left: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 300px;
  width: 400px;
  overflow: hidden;
}
.Center .cards .pcard:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-color: #252734a8;
  opacity: 0.5;
  transform: translateY(100%);
  transition: all 0.25s;
  transition-delay: 0.25s;
}
.Center .cards .pcard:hover:before {
  transform: translateY(0);
  transition-delay: 0s;
}
.Center .cards .pcard:hover .caption {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.3s;
}
.Center .cards .pcard img {
  height: 300px;
  width: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Center .cards .pcard .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.25s ease;
}
.Center .cards .pcard .caption h3 {
  font-size: 1.8rem;
  position: relative;
  top: 0;
  color: #ebebec;
  font-family: "ArimaMadurai-Black";
}
.Center .cards .pcard .caption a {
  height: 80px;
  width: 80px;
}
.Center .cards .pcard .caption a img {
  height: 60px;
  width: 60px;
  background: #ebebec;
  border-radius: 50%;
  padding: 20px;
}

@media screen and (max-width: 780px) {
  #primary {
    width: 67%;
  }

  #secondary {
    width: 30%;
    margin-left: 3%;
  }

  html {
    scroll-behavior: smooth;
  }

  *,
body {
    margin: 0;
    padding: 0;
    top: 0;
  }

  #middleLevel {
    position: relative;
  }
  #middleLevel .Projects {
    position: relative;
  }
  #middleLevel .Projects h1 {
    font-size: 5rem;
  }
  #middleLevel .cards {
    width: 100%;
    background: #252734;
    display: grid;
    position: relative;
    grid-gap: 15px;
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 100px;
  }
  #middleLevel .cards .pcard {
    width: 100%;
    height: 100%;
    background: #252734;
    margin-left: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 250px;
    width: 300px;
    overflow: hidden;
  }
}
@media screen and (max-width: 780px) {
  #primary {
    width: 67%;
  }

  #secondary {
    width: 30%;
    margin-left: 3%;
  }

  html {
    scroll-behavior: smooth;
  }

  .Center {
    position: relative;
  }
  .Center .Projects {
    position: relative;
  }
  .Center .Projects h1 {
    font-size: 5rem;
    text-shadow: #48cfad 1px 2px 5px;
  }
  .Center .cards {
    width: 100%;
    background: #252734;
    display: grid;
    position: relative;
    grid-gap: 15px;
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 100px;
  }
  .Center .cards .pcard {
    width: 100%;
    height: 100%;
    background: #252734;
    margin-left: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 250px;
    width: 300px;
    overflow: hidden;
  }
}
.ff {
  position: relative;
  padding: 40px;
}

#Footer {
  position: relative;
  bottom: 0;
}

@media screen and (max-width: 780px) {
  #primary {
    width: 67%;
  }

  #secondary {
    width: 30%;
    margin-left: 3%;
  }

  html {
    scroll-behavior: smooth;
  }

  .ff {
    position: relative;
  }

  #Footer {
    display: none;
    background: yellow;
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
  }
}
body {
  background: #ced5e7;
  margin: 0;
  top: 0;
  padding: 0;
  right: 0;
  left: 0;
}

.Menu-bar {
  opacity: 0;
}

#topLevel {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #3b3e4d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  perspective: 1000px;
}

#Services {
  position: relative;
}

@media screen and (max-width: 780px) {
  #primary {
    width: 67%;
  }

  #secondary {
    width: 30%;
    margin-left: 3%;
  }

  html {
    scroll-behavior: smooth;
  }

  .Menu-bar {
    margin: 10px;
    z-index: 1;
    top: 5px;
    opacity: 1;
    position: absolute;
    padding: 5px;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px #323541, 0px 0px 0px 0px #323541, 0px 0px 0px 0px #444749, 0px 0px 0px 0px #444759, -7px -7px 20px 0px #323541, -4px -4px 5px 0px #323541, 7px 7px 20px 0px #444749, 4px 4px 5px 0px #444759;
    -webkit-transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
    border-bottom-left-radius: 2px;
  }
  .Menu-bar span {
    position: relative;
    width: 40px;
    height: 3px;
    margin-top: 8px;
    background: #ebebec;
    display: block;
    top: calc(20% - 1px);
    left: calc(50% - 20px);
    transition: 0.5s;
    border-radius: 10px;
    -webkit-transition: margin 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81), -webkit-transform 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81);
    transition: margin 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81), -webkit-transform 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81);
    transition: margin 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81), transform 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81);
    transition: margin 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81), transform 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81), -webkit-transform 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  }
  .Menu-bar span:nth-child(2) {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  .Menu-bar.active {
    margin: -2px;
    box-shadow: 0px 0px 0px 0px #323541, 0px 0px 0px 0px #323541, 0px 0px 0px 0px #444749, 0px 0px 0px 0px #444759, inset -7px -7px 20px 0px #323541, inset -4px -4px 5px 0px #323541, inset 7px 7px 20px 0px #444749, inset 4px 4px 5px 0px #444759;
  }
  .Menu-bar.active span {
    position: relative;
    margin: -2px;
    top: calc(50% - 1px);
    left: calc(50% - 20px);
  }
  .Menu-bar.active span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-radius: 10px;
  }
  .Menu-bar.active span:nth-child(2) {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .Menu-bar.active span:nth-child(3) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #topLevel {
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;
    left: 0;
    margin: 0;
    padding: 0;
    top: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 2fr);
    font-size: 1.2rem;
    background-image: none;
    background: #3b3e4d;
    margin-bottom: -640px;
  }
  #topLevel .leftSide {
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;
    left: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }
  #topLevel .leftSide .logo {
    position: relative;
    display: flex;
    top: 0px;
    margin: 0;
    padding: 20px;
    left: 0;
    color: #ffc25c;
    font-size: 2rem;
    font-family: "ArimaMadurai-Black";
    font-weight: 300;
  }
  #topLevel .leftSide .name-intro {
    position: relative;
    display: grid;
    top: 30px;
    left: 0;
    margin: 0;
    z-index: -1;
  }
  #topLevel .leftSide .name-intro .name {
    position: relative;
    width: auto;
    display: grid;
    padding: 0px 10px 0px 50px;
    top: 390px;
    left: 5px;
  }
  #topLevel .leftSide .name-intro .name h1 {
    position: relative;
    font-size: 1.5rem;
  }
  #topLevel .leftSide .name-intro .name h1 #two {
    margin-left: 0;
  }
  #topLevel .leftSide .name-intro .name h1 span {
    padding: 10px;
    clear: none;
    float: none;
  }
  #topLevel .leftSide .name-intro .social-list {
    top: 770px;
    position: relative;
    width: 100%;
    margin-left: -10px;
    padding: 20px;
  }
  #topLevel .leftSide .name-intro .social-list ul {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    left: 9%;
    width: 300px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 30px;
  }
  #topLevel .leftSide .name-intro .social-list ul li {
    border-radius: 50%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0px;
  }
  #topLevel .leftSide .name-intro .social-list ul li a img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }
  #topLevel .leftSide .name-intro .image-me {
    position: relative;
    top: -450px;
    left: 0;
    width: 90%;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #323541, 0px 0px 0px 0px #323541, 0px 0px 0px 0px #444749, 0px 0px 0px 0px #444759, inset -7px -7px 20px 0px #323541, inset -4px -4px 5px 0px #323541, inset 7px 7px 20px 0px #444749, inset 4px 4px 5px 0px #444759;
    left: 50%;
    right: 50%;
    display: flex;
    transform: translateX(-50%);
    z-index: -1;
    transition: none;
    background: #3b3e4d;
  }
  #topLevel .leftSide .name-intro .image-me img {
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    left: 50%;
    right: 50%;
    display: flex;
    transform: translateX(-50%);
  }
  #topLevel .rightSide {
    top: -260px;
    margin-bottom: 10px;
  }
  #topLevel .rightSide .menu {
    position: absolute;
    background: #3b3e4d;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    border-right: 4px black solid;
    transition: all 2s;
    transform: translateY(-2000px);
  }
  #topLevel .rightSide .menu.active {
    top: 0;
    transform: translateY(-600px);
    opacity: 1;
    margin-bottom: 100%;
    z-index: 1;
    box-shadow: 0px 0px 0px 0px #323541, 0px 0px 0px 0px #323541, 0px 0px 0px 0px #444749, 0px 0px 0px 0px #444759, inset -7px -7px 20px 0px #323541, inset -4px -4px 5px 0px #323541, inset 7px 7px 20px 0px #444749, inset 4px 4px 5px 0px #444759;
  }
  #topLevel .rightSide .menu ol {
    font-size: 1.2rem;
    top: 50px;
    position: relative;
  }
  #topLevel .rightSide .menu ol.active {
    position: absolute;
    border: #ebebec solid 3px;
  }
  #topLevel .rightSide .menu ol li {
    padding: 20px;
    margin: 20px;
    margin-left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    left: 50%;
    right: 50%;
    display: flex;
    transform: translateX(-50%);
    display: block;
    box-shadow: 0px 0px 0px 0px #323541, 0px 0px 0px 0px #323541, 0px 0px 0px 0px #444749, 0px 0px 0px 0px #444759, inset -7px -7px 20px 0px #323541, inset -4px -4px 5px 0px #323541, inset 7px 7px 20px 0px #444749, inset 4px 4px 5px 0px #444759;
    transition: all 1s linear;
  }
  #topLevel .rightSide .menu ol li:hover {
    left: 0;
    box-shadow: 0px 0px 0px 0px #323541, 0px 0px 0px 0px #323541, 0px 0px 0px 0px #444749, 0px 0px 0px 0px #444759, -7px -7px 20px 0px #323541, -4px -4px 5px 0px #323541, 7px 7px 20px 0px #444749, 4px 4px 5px 0px #444759;
    transform: scale(1.2);
  }
  #topLevel .rightSide .menu ol li a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    text-align: center;
    font-size: 1.2rem;
  }
  #topLevel .rightSide .intro {
    width: 100%;
    left: 0;
    position: relative;
    top: -100px;
  }
  #topLevel .rightSide .intro .title {
    left: 50%;
    right: 50%;
    display: flex;
    transform: translateX(-50%);
    justify-content: center;
    display: grid;
  }
  #topLevel .rightSide .intro .title .top {
    left: 50%;
    right: 50%;
    display: flex;
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
    display: grid;
    width: 80%;
    font-size: 1.3rem;
    left: 180px;
  }
  #topLevel .rightSide .intro .title .top span:nth-child(3) {
    position: relative;
    left: 0;
    font-weight: 0;
  }
  #topLevel .rightSide .content1 {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  #topLevel .rightSide .content1 .description p {
    font-size: 1rem;
  }
  #topLevel .rightSide .content1 a {
    position: relative;
    right: 0;
    float: right;
    margin: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 0px 0px #323541, 0px 0px 0px 0px #323541, 0px 0px 0px 0px #444749, 0px 0px 0px 0px #444759, inset -7px -7px 20px 0px #323541, inset -4px -4px 5px 0px #323541, inset 7px 7px 20px 0px #444749, inset 4px 4px 5px 0px #444759;
    transition: all 1s;
  }
  #topLevel .rightSide .content1 a:hover {
    box-shadow: 0px 0px 0px 0px #323541, 0px 0px 0px 0px #323541, 0px 0px 0px 0px #444749, 0px 0px 0px 0px #444759, -7px -7px 20px 0px #323541, -4px -4px 5px 0px #323541, 7px 7px 20px 0px #444749, 4px 4px 5px 0px #444759;
  }
}

/*# sourceMappingURL=mainstyle.css.map */
