@import "./defaults";

.ff {
  position: relative;
  padding: 40px;
}
#Footer {
  // background: #222222;
  // margin-top: 100px;
  position: relative;
  bottom: 0;
  margin: -10px;
}

@media screen and (max-width: 780px) {
  #primary {
    width: 67%;
  }
  #secondary {
    width: 30%;
    margin-left: 3%;
  }
  html {
    scroll-behavior: smooth;
  }
  *,
  body {
    margin: 0;
    padding: 0;
    top: 0;
  }
  .ff {
    position: relative;
    // padding: 150px;
  }
  #Footer {
    background: yellow;
    // margin-top: 100px;
    position: relative;
    text-align: center;
    bottom: 0;
    // margin: -10px;
  }
}
