@import "./defaults";
@import "./topLevel";
@import "./middleLevel";
@import "./footer";

body {
  background: $hoverTextColor;
  margin: 0;
  top: 0;
  padding: 0;
  right: 0;
  left: 0;
  // height: 100%;
  // width: 100%;
}
.Menu-bar {
  //   display: none;
  opacity: 0;
}
#topLevel {
  position: $position1;
  top: 0;
  left: 0;
  // right: 0;
  width: 100%;
  // height: 00px;
  margin: 0;
  padding: 0;
  // background: url(../../images/computer-1209641.jpg);
  background: $hoverTextColor;
  @include backgroundCenter;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  perspective: 1000px;
  //   color: white;
}

#Services {
  position: relative;
}

@media screen and (max-width: 780px) {
  #primary {
    width: 67%;
  }
  #secondary {
    width: 30%;
    margin-left: 3%;
  }
  html {
    scroll-behavior: smooth;
  }
  *,
  body {
    margin: 0;
    padding: 0;
    top: 0;
    // background-color: $hoverTextColor;
    // z-index: -1;s
  }
  .Menu-bar {
    z-index: 1;
    top: 5px;
    // display: block;
    opacity: 1;
    position: $position2;
    padding: 5px;
    // display: grid;
    right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    @include BoxShadow;
    -webkit-transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);

    span {
      position: relative;
      width: 40px;
      height: 3px;
      margin-top: 8px;
      background: $defaultColor;
      display: block;
      top: calc(20% - 1px);
      left: calc(50% - 20px);
      transition: 0.5s;
      border-radius: 10px;

      -webkit-transition: margin 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81),
        -webkit-transform 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81);
      transition: margin 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81),
        -webkit-transform 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81);
      transition: margin 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81),
        transform 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81);
      transition: margin 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81),
        transform 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81),
        -webkit-transform 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81);

      &:nth-child(2) {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
      }
    }
    &.active {
      margin: -2px;
      box-shadow: 0px 0px 0px 0px #323541, 0px 0px 0px 0px #323541,
        0px 0px 0px 0px #444749, 0px 0px 0px 0px #444759,
        inset -7px -7px 20px 0px #323541, inset -4px -4px 5px 0px #323541,
        inset 7px 7px 20px 0px #444749, inset 4px 4px 5px 0px #444759;
    }
    &.active span {
      position: relative;
      margin: -2px;
      top: calc(50% - 1px);
      left: calc(50% - 20px);
    }
    &.active span:nth-child(1) {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      border-radius: 10px;
    }
    &.active span:nth-child(2) {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    &.active span:nth-child(3) {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  #topLevel {
    position: $position1;
    @include Zero;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 2fr);
    font-size: 1.2rem;
    background-image: none;
    background: $hoverTextColor;
    .leftSide {
      position: $position1;
      @include Zero;
      width: 100%;
      height: 100%;
      margin-bottom: 0;
      .logo {
        position: $position1;
        display: flex;
        top: -30px;
        margin: 0;
        padding: 20px;
        left: 0;
        color: $otherColor;
        font-size: 2rem;
        font-family: $defaultFont;
        font-weight: 300;
      }
      .name-intro {
        position: $position1;
        display: grid;
        top: 30px;
        left: 0;
        z-index: -1;
        // height: 900px;
        .name {
          position: $position1;
          backdrop-filter: blur(20px);
          width: auto;
          // display: grid;
          @include CenterHorizontal;
          padding: 0px 10px 0px 60px;
          top: 280px;
          h1 {
            position: relative;
            font-size: 1.5rem;
            #two {
              margin-left: 0;
            }
            span {
              padding: 10px;

              clear: none;
              float: none;
            }
          }
        }
        .social-list {
          display: flex;
          top: 700px;
          position: $position1;
          width: 100%;
          right: 0;
          // margin-right: -60px;
          margin-left: 0px;
          padding: 20px;

          ul {
            // z-index: 1000;
            position: $position1;
            display: inline;
            left: 0;
            z-index: 1;
            // di
            // width: 300px;
            // width: 50px;
            height: 50px;
            border-radius: 50%;
            li {
              border-radius: 50%;
              position: relative;
              display: inline;
              padding: 3px;

              a {
                img {
                  border-radius: 50%;
                  height: 30px;
                  width: 30px;
                }
              }
            }
          }
        }
        .image-me {
          position: $position2;
          // margin-top: -4000px;
          // display: flex;
          z-index: 1;
          top: -80px;
          left: 0;
          // width: 90%;
          border-radius: 50%;
          @include BoxShadowInset;
          // @include CenterContent;
          @include CenterHorizontal;
          z-index: -1;
          transition: none;
          // background: $hoverTextColor;

          img {
            width: 250px;
            height: 250px;
            position: relative;
            border-radius: 50%;
            @include CenterContent;
            @include CenterHorizontal;
          }
        }
      }
    }

    ///RightSide
    .rightSide {
      // top: -280px;
      .menu {
        position: $position2;
        left: 0;
        top: 100px;
        width: 100%;
        // background: transparent;
        height: 1000px;
        // backdrop-filter: grayscale(0.5) opacity(0.8) blur(400px);
        background-color: $defaultColor;
        // filter: ;
        transition: all 2s;
        transform: translateY(-2000px);
        &.active {
          top: 0;
          transform: translateY(-600px);
          opacity: 1;
          margin-bottom: 100%;
          z-index: 1;
          @include BoxShadowInset;
        }
        ol {
          font-size: 1.2rem;
          top: 200px;
          position: $position1;
          &.active {
            position: absolute;
            border: $defaultColor solid 3px;
          }
          li {
            padding: 20px;
            margin: 20px;
            // left: 50%;
            margin-left: 40%;
            @include CenterContent;
            @include CenterHorizontal;
            display: block;
            @include BoxShadowInset;
            transition: all 1s linear;
            &:hover {
              left: 0;

              @include BoxShadow;
              transform: scale(1.2);
            }
            a {
              @include CenterContent;
              position: relative;
              color: black;
              text-align: center;
              font-size: 1.2rem;
            }
          }
        }
      }

      ///@extend.
      .intro {
        position: relative;
        // top: -100px;
        .title {
          @include CenterHorizontal;
          justify-content: center;
          display: grid;
          // border: 2px blueviolet solid;

          .top {
            // height: 20px;
            // border: 2px blueviolet solid;
            @include CenterHorizontal;
            display: grid;
            width: 80%;
            font-size: 1.3rem;
            left: 200px;

            span:nth-child(3) {
              position: $position1;
              left: 0;
              font-weight: 300;
              transition: all 2s ease-in;
              margin: -10px;
            }
          }
        }
      }
      .content1 {
        position: $position1;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        .description {
          p {
            font-size: 1rem;
          }
        }
        a {
          position: $position1;
          right: 0;
          float: right;
          margin: 20px;
          margin-bottom: 30px;
          @include BoxShadowInset;
          transition: all 1s;
          &:hover {
            @include BoxShadow;
          }
        }
      }
    }
  }

  ///MiddleLevel

  // .Projects {
  //   h1 {
  //     font-size: 0rem;
  //   }
  // }
}
